    {{#if successBarVisible}}
        <div class="registration-done">
            <p>Awesome! Your registration was successful.</p>
            <span class="close-success-bar" {{action closeSuccessBar}}>x</span>
        </div>
    {{/if}}

        <section class="hero" id="hero">
            {{render navigation}}
            <h1 class="event-name"><span>Czech Hackathon</span></h1>
            <h1 class="event-date"><span>Nov 7 - 9 2014, Prague</span></h1>
        </section>

        <section class="description section-small" id="description">
            <div class="col-xs-12">
                <h2>Prague, November 7 - 9, 2014</h2>
                <div class="description-left">
                    <div class="social-icons">
                        <a href="https://www.facebook.com/czhackathon"><i class="icon-facebook-sign"></i></a>
                        <a href="https://www.twitter.com/czhackathon"><i class="icon-twitter-sign"></i></a>
                        <a href="https://plus.google.com/104719289486706904674/about"><i class="icon-google-plus-sign"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="register section-small" id="register">
            <h2>Registration</h2>
            <i class="icon-rocket"></i>
            <a href="https://app.takeplace.eu/register/register.html?cmd=Register&eid=b8369d42610f4c548044274a7a7cb8ef&api_key=x&pid=e7564b212d9d47e5bec7346fc54e1a5a&locale=cs" target="_blank"><small class="register-button">I want to join #czhackathon</small></a>
        </section>

        <!--
        <section class="winners section-small" id="winners">
            <h2>Winners</h2>
            <i class="icon-trophy"></i>
            <div class="winners-container">
                <div class="box-left">
                    <span class="place">1st</span><h3>BetaMuffin</h3>
                    <p class="members">
                        <a href="https://twitter.com/xorwen" target="_blank">@xorwen</a><br>
                        <a href="https://twitter.com/hladomorko" target="_blank">@hladomorko</a><br>
                        <a href="https://twitter.com/obcanzdavu" target="_blank">@obcanzdavu</a><br>
                        <a href="https://twitter.com/kubabrecka" target="_blank">@kubabrecka</a>
                    </p>
                </div>
                <div class="box-center">
                    <span class="place">2nd</span><h3>Knedlo</h3>
                    <p class="members">
                        <a href="https://twitter.com/chipiik" target="_blank">@chipiik</a><br>
                        <a href="https://twitter.com/martiner" target="_blank">@martiner</a><br>
                        <a href="https://twitter.com/jura_ibl" target="_blank">@jura_ibl</a><br>
                        <a href="https://twitter.com/mwenisch" target="_blank">@mwenisch</a><br>
                        <a href="https://twitter.com/shmoula" target="_blank">@shmoula</a>
                    </p>
                </div>
                <div class="box-right">
                    <span class="place">3rd</span><h3>Zeitgeist</h3>
                    <p class="members">
                        Jiří Šebele<br>
                        <a href="https://twitter.com/sindriava" target="_blank">@sindriava</a><br>
                        <a href="https://twitter.com/petrposvic" target="_blank">@petrposvic</a><br>
                        Michaela Horakova<br>
                        Jan Rohan<br>
                        Emanuel Buzek<br>
                    </p>
                </div>
            </div>
            <div>
            <a class="icon-github" href="https://github.com/CzechHackathon2013" target="_blank">
            </a>
            <div>
        </section>
        -->

        <section class="topics section-small" id="topics">
            <div class="col-xs-12">
                <h2>Life Hacking</h2>
                <div class="description-content">
                    <p>There is an app for every possible human activity - falling asleep, sleeping, getting up or even brushing your teeth. There is nothing left to invent&hellip;</p>
                    <p>Or is there? Have you come up with some task that hasn't yet been successfully computerized? If so - sign up for the Czech Hackathon, where together we will push the limits of what is possible. There's an app for that :)</p>
                </div>
            </div>
        </section>

        <section class="schedule section-small" id="schedule">
            <h2>Friday</h2>
            <div class="schedule-content">
                <div class="schedule-line">
                    <div class="schedule-time">6:00pm</div>
                    <div class="schedule-event">Registration</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">7:00pm</div>
                    <div class="schedule-event">Introduction</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">7:15pm</div>
                    <div class="schedule-event">Data Driven Life - <b><a href="#" {{action 'scrollTo' 'jiri-tobolka'}}>Jiří Tobolka</a></b></div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">7:35pm</div>
                    <div class="schedule-event">Android Wear - <b><a href="#" {{action 'scrollTo' 'david-vavra'}}>David Vávra</a></b></div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">7:55pm</div>
                    <div class="schedule-event">Production of own hardware with Andruino - <b><a href="#" {{action 'scrollTo' 'tomas-prochazka'}}>Tomáš Procházka</a></b></div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">8:30pm</div>
                    <div class="schedule-event">Dinner</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">9:30pm</div>
                    <div class="schedule-event">Pitch session</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">10:30pm</div>
                    <div class="schedule-event">Team assembly</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">11:00pm</div>
                    <div class="schedule-event">Hacking</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
            </div>
            <h2>Saturday</h2>
            <div class="schedule-content">
                <div class="schedule-line">
                    <div class="schedule-time">9:00am</div>
                    <div class="schedule-event">Breakfast</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">9:45am</div>
                    <div class="schedule-event">Hacking</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">1:00pm</div>
                    <div class="schedule-event">Lunch</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">2:00pm</div>
                    <div class="schedule-event">Hacking</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">6:00pm</div>
                    <div class="schedule-event">Dinner</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">7:45pm</div>
                    <div class="schedule-event">Hacking</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
            </div>
            <h2>Sunday</h2>
            <div class="schedule-content">
                <div class="schedule-line">
                    <div class="schedule-time">9:00am</div>
                    <div class="schedule-event">Breakfast</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">9:45am</div>
                    <div class="schedule-event">Hacking</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">1:00pm</div>
                    <div class="schedule-event">Lunch</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">2:00pm</div>
                    <div class="schedule-event">Team presentations</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">2:30pm</div>
                    <div class="schedule-event">Award ceremony</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
                <div class="schedule-line">
                    <div class="schedule-time">2:45pm</div>
                    <div class="schedule-event">Wrap up</div>
                    <div class="schedule-dots">&nbsp;</div>
                </div>
            </div>

            <div class="schedule-content schedule-info">
                <p>Program is subject to change.</p>
            </div>
        </section>

        <section class="info section-small" id="info">
            <h2>General info</h2>

            <div class="info-content">

                <p>What to bring: a head full of good ideas, a taste for hacking, and sleeping equipment if you plan on sleeping over (sleeping bag, mat, etc). Food will be provided.</p>
                <p>Price: <strong>100 CZK</strong></p>
                <p>For those of you who are interested in hardware, you'll have the opportunity to make your own hardware.</p>

                <h3>Transport</h3>

                <p>Take bus 120 to stop Pod Děvínem. TECHSQUARE is down the hill on the left.</p>
                <p>Take tram 6,12, 14, or 20 to stop Lihovar, the continue a little ways in the same direction as the tram. TECHSQUARE is cross the bridge on the right.</p>
                <p>Parking - there are a few places at TECHSQUARE and unlimited parking in the street at Ke Sklárně (the street that leads to MeetFactory</p>
            </div>
        </section>

        <!--
        <section class="subscribe section-small" id="subscribe">
            <h2>Keep me posted</h2>
            {{render subscription }}
        </section>
        -->

        <section class="section-small superheroes" id="superheroes">
            <h2>Our superheroes</h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 superhero-items">
                        <figure class="superhero-item" id="jiri-tobolka">
                            <figcaption>
                                <a href="http://about.me/jirtob" target="_blank">
                                    <strong>Jiří Tobolka</strong>
                                </a> - New tech enthusiast, GoodData Developer Evangelist, Board rider, Apple user, FIM graduate
                            </figcaption>
                        </figure>

                        <figure class="superhero-item" id="david-vavra">
                            <figcaption>
                                <a href="http://www.destil.cz/" target="_blank">
                                    <strong>David Vávra</strong>
                                </a> - Android Developer, Glass Explorer, GDG Organizer
                            </figcaption>
                        </figure>

                        <figure class="superhero-item" id="tomas-prochazka">
                            <figcaption>
                                <a href="https://twitter.com/tprochazka" target="_blank">
                                    <strong>Tomáš Procházka</strong>
                                </a> - Android guru of the Avast Software, except software also deals with the production of the hardware
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

        </section>

        <section class="social section-small" id="social">
            <h2>#czhackathon</h2>

            <div class="l-full">
                <div class="feed l-aside">
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23czhackathon" data-widget-id="379359976419913728">Tweets about "#czhackathon"</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>

                <div class="l-content">
                    {{render photos}}
                </div>
            </div>
        </section>

        <section class="hackathon2013 section-small" id="hackathon2013">
            <h2>Hackathon 2013</h2>

            <div class="l-full">
                <iframe width="560" height="315" src="//www.youtube.com/embed/GjRqOsH05JU?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>

        <section class="map section-small section-fullSize" id="map">
            <address class="map-address">
                <i class="icon-map-marker"></i>
                <a href="https://maps.google.cz/maps?q=Techsquare+K%C5%99%C3%AD%C5%BEov%C3%A1+2598+/+4+150+00+Praha+5&ie=UTF-8&ei=Pm45UsaIJc2o0wWGtIGwCQ&ved=0CAoQ_AUoAg">
                Techsquare<br>
                <strong>Křížová</strong> 2598 / <strong>4</strong><br>
                150 00 <strong>Praha 5</strong></a>
            </address>
            <iframe width='100%' height='400' frameBorder='0' src='http://a.tiles.mapbox.com/v3/gooddata.map-bnx2noma.html#14/50.10670792159607/14.420585632324219'></iframe>
        </section>

        <section class="section-small section-fullSize" id="sponsors">
            <ul class="sponsors">
                <li><a href="https://www.gooddata.com" class="sponsor-gooddata">GoodData</a></li>
                <li><a href="http://www.kerio.com" class="sponsor-kerio">Kerio</a></li>
                <li><a href="http://www.avast.com" class="sponsor-avast">Avast</a></li>
                <li><a href="http://www.socialbakers.com" class="sponsor-socialbakers">Socialbakers</a></li>
            </ul>
        </section>

        <section class="footer section-small section-fullSize" id="footer">
            <h2 class="l-prev">
                Czech Hackathon!
            </h2>
        </section>
